# Exemple de variables d'environnement (ne pas committer de secrets)
MYSQL_ROOT_PASSWORD=root_password
MYSQL_DATABASE=livreor
MYSQL_USER=livreor
MYSQL_PASSWORD=livreor_password

DB_HOST=db
DB_NAME=livreor
DB_USER=livreor
DB_PASSWORD=livreor_password
