# Dépendances
node_modules
npm-debug.log

# Build local
dist

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# Environnement
.env
.env.local
.env.*.local

# Logs
logs
*.log

# Tests
coverage
.nyc_output

# Docker
Dockerfile*
docker-compose*
.dockerignore

# Documentation
README.md
docs

# OS
.DS_Store
Thumbs.db
